
[data-code="Backspace"] {
  width: 130px;
}

[data-code="Tab"] {
  width: 75px;
}

[data-code="CapsLock"] {
  width: 89px;
}

[data-code="ShiftLeft"] {
  width: 89px;
}

[data-code="ControlLeft"] {
  width: 65px;
}

[data-code="MetaLeft"] {
  width: 65px;
}

[data-code="AltLeft"] {
  width: 65px;
}

[data-code="Space"] {
  width: 320px;
}

[data-code="ShiftRight"] {
  width: 89px;
}

[data-code="ControlRight"] {
  width: 65px;
}

[data-code="AltRight"] {
  width: 65px;
}

[data-code="Enter"] {
  width: 143px;
}

[data-code="Backslash"] {
  width: 104px;
}